{% extends "base_generic.html" %}

{% block content %}
  <h2>Age: {{ patient.age }}</h2> 
  <h2>Sex: {{ patient.sex }}</h2>
  <h2>ChestPainType: {{ patient.chest }}</h2>
  <h2>Resting BP: {{ patient.restingBP }}</h2>
  <h2>Cholesterol: {{ patient.cholesterol }}</h2>
  <h2>Fasting Blood Sugar: {{ patient.fastingBS }}</h2>
  <h2>Resting ECG: {{ patient.ecg }}</h2>
  <h2>Max Heart Rate: {{ patient.maxHR }}</h2>
  <h2>Exercise Angina: {{ patient.exerciseAngina }}</h2>
  <h2>OldPeak Depression: {{ patient.oldPeak }}</h2>
  <h2>ST Slope: {{ patient.stSlope }}</h2>




<br>
<a href="{% url 'patients' %}" class="btn btn-primary" role="button">Return to List</a>
{% if patient.perform_prediction == 'blue' %}
<h3 style="background-color:rgb(80, 191, 255);max-width: 400px;margin:10px;padding:10px;border-radius:10px;border:1px solid black;">Prediction Value: BLUE</h3>
<p>Measuring these vitals against our dataset, we determined that you're very unlikely to currently be at risk for heart failure.</p>
{% elif patient.perform_prediction == 'yellow' %}
<h3 style="background-color:yellow;max-width: 400px;margin:10px;padding:10px;border-radius:10px;border:1px solid black;text-align:center;">Prediction Value: YELLOW</h3>
<p>Measuring these vitals against our dataset, we determined that you have are at low risk of having heart failure.</p>
{% elif patient.perform_prediction == 'orange' %}
<h3 style="background-color:orange;max-width: 400px;margin:10px;padding:10px;border-radius:10px;border:1px solid black;text-align:center;">Prediction Value: ORANGE</h3>
<p>Measuring these vitals against our dataset, we determined this patient has a medium amount of risk to have heart failure.</p>
{% elif patient.perform_prediction == 'red' %}
<h3 style="background-color:red;max-width: 400px;margin:10px;padding:10px;border-radius:10px;border:1px solid black;text-align:center;">Prediction Value: RED</h3>
<p>Measuring these vitals against our dataset, we determined this patient has high chance to have heart failure!</p>
{% elif patient.perform_prediction == 'Absolute' %}
<h3 style="background-color:black;max-width: 400px;margin:10px;padding:10px;border-radius:10px;border:1px solid white;text-align:center;">Prediction Value: BLACK</h3>
<p>Measuring these vitals against our dataset, we determined this patient has an extremely high likelihood of having heart failure!</p>
{% endif %}
  
{% endblock %}
