{% extends "base_generic.html" %}

{% block content %}
    <img src='data:image/png;base64,{{ chart1 }}'>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut veniam numquam eius illo incidunt nemo. Exercitationem architecto labore, molestias voluptatibus veritatis quia vel dolore fugit fuga facilis voluptate rem consectetur?</p>
    <img src='data:image/png;base64,{{ chart2 }}'>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut veniam numquam eius illo incidunt nemo. Exercitationem architecto labore, molestias voluptatibus veritatis quia vel dolore fugit fuga facilis voluptate rem consectetur?</p>
{% endblock %}
